.mainContainer{
    background-image: var(--body_background);
    width: fit-content;
    min-width: 100%;
    min-height: 100vh;
    padding: 30px 90px;
    color: var(--body_color);
}

@media (max-width: 500px) {
    .mainContainer{
        width: fit-content;
        min-width: 100%;
        min-height: 150vh;
        padding: 30px 20px;
    }
}