.clicker{
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #52586E;
    background-color: #1F2535;
}

.clicker:hover{
    background-color: #f05d55;
    border: 1px solid #f05d55;
    color: #1F2535;
}