.clicker, .clickerRed{
    width: fit-content;
    height: fit-content;
    padding: 5px 15px;
    border-radius: 20px;
    border: 1px solid var(--border);
    background-color: var(--background_color);
    cursor: pointer;
    color: var(--body_color);
    font-size: medium;
}

.clicker:hover{
    background-color: var(--hover);
    border: 1px solid var(--hover);
}

.clicker:focus, .clickerRed:focus, .clickerRed:hover{
    background-color: var(--red);
    border: 1px solid var(--red);
    color: hsl(227, 75%, 14%);
}