@font-face {
  font-family: myFont;
  src: url('../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}

:root{
  --body_background: linear-gradient(to bottom, #040918, #091540);
  --body_color: hsl(0, 0%, 78%);
  --background_color: hsl(226, 25%, 17%);
  --border: hsl(225, 23%, 24%);
  --light_color: hsl(225, 23%, 24%);
  --hover: hsl(226, 11%, 37%);
  --red: hsl(3, 86%, 64%);
  font-family: myFont;
  background-image: linear-gradient(to bottom, #040918, #091540);
}

[data-theme="light"] {
  --body_background: linear-gradient(to bottom, #ECF5FC, #ECF5FC);
  --body_color: hsl(227, 75%, 14%);
  --background_color: hsl(200, 60%, 99%);
  --border: hsl(0, 0%, 93%);
  --light_color: hsl(0, 0%, 93%);
  --hover: hsl(217, 61%, 90%); 
  --red: hsl(3, 77%, 44%);
  background-image: linear-gradient(to bottom, #ECF5FC, #ECF5FC);
}
