.modeBar{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--background_color);
}

.light{
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: var(--light_color);
    cursor: pointer;
}

.light:hover{
    background-color: var(--hover);
    border: 1px solid var(--hover);
    color: #1F2535;
}
