@font-face {
  font-family: myFont;
  src: url('./assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
}

:root{
  --body_background: linear-gradient(to bottom, #04091C, #0A1542);
  --body_color: rgb(247, 235, 235);
  --background_color: #1F2535;
  --border: #52586E;
  --light_color: #52586E;
  --hover: #485166;
  font-family: myFont;
  background-image: linear-gradient(to bottom, #04091C, #0A1542);
}

[data-theme="light"] {
  --body_background: linear-gradient(to bottom, #ECF5FC, #ECF5FC);
  --body_color: #081035;
  --background_color: #FCFDFF;
  --border: #DCE3EB;
  --light_color: #ECECEC;
  --hover: #C6C6C6; 
  background-image: linear-gradient(to bottom, #ECF5FC, #ECF5FC);
}
